--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple
numpy==2.2.4
matplotlib==3.10.1
seaborn
torch
loguru==0.7.3
standard-imghdr==3.13.0
tensorboard>=2.4.1
munch==4.0.0
gymnasium==1.1.1
stable-baselines3
moviepy==2.1.2
pyzmq==26.3.0
msgpack==1.1.0
msgpack_numpy==0.4.8
enlighten==1.14.1
scikit-image==0.25.2
jupyter==1.1.1
jupyterlab==4.3.6